<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Guilherme Leme">
    <meta name="description" content="Essa é página inicial do converse+, o qual poderá navegar entre nossas sessões e conhecer o nosso trabalho!">
    <meta name="keywords" content="converse+, habilidades comunicacionais, objetivos, especialistas, integrantes">
    
    <title>CONVERSE+</title>

    <link rel="stylesheet" type="text/css" href="../css/conf_padroes.css">
    <link rel="stylesheet" type="text/css" href="../css/menu.css">
    <link rel="stylesheet" type="text/css" href="../css/banner.css">
    <link rel="stylesheet" type="text/css" href="../css/card.css">
    <link rel="stylesheet" type="text/css" href="../css/objetivo.css">
    <link rel="stylesheet" type="text/css" href="../css/mascote.css">
    <link rel="stylesheet" type="text/css" href="../css/integrantes.css">
    <link rel="stylesheet" type="text/css" href="../css/especialistas.css">
    <link rel="stylesheet" type="text/css" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">

    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo/favicon-16x16.png">
</head>
<body>
    <header id="header">
        <div class="container container-header">
            <a href="index.html"><img src="../img/logo/Logos.svg" alt="logo" class="logo"></a>
            
            <nav id="nav">
                <button id="menu-mobile">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <ul id="menu">
                    <li> <a href="index.html#banner">INÍCIO</a> </li>
                    <li> <a href="index.html#objetivos">OBJETIVOS</a> </li>
                    <li> <a href="index.html#monstros">MONSTROS</a> </li>
                    <li> <a href="index.html#integrantes">SOBRE NÓS</a> </li>
                    <li> <a href="index.html#psicologo">PSICOLOGO</a> </li>
                    <a href="index.html#aplicativo"><li><input type="button" value="APLICATIVO" class="btn"></li></a>
                </ul>
            </nav>
        </div>
    </header>
    <!----------- BANNER ---------------->
    <section div class="banner" id="banner">
        <article>
             <h1>Pronto para se <br> comunicar melhor?</h1> 
             <a href="#objetivos"><img src="../img/banner/seta.png" class="seta"></a>
        </article>
    <section>
     <!----------- Objetivos parte 01 - CARDS----------------> 
    <section class="proposta" id="proposta">
        <div class="card cor1">
            <div><img src="../img/logo/logo.jpg" alt></div>
            <h2>Objetivo</h2>
            <p class="paragrafo">Temos como propósito e meta, melhorarmos as habilidades comunicacionais do máximo de pessoas possíveis. Porque entendemos, que o mercado de trabalho, exigem cada dia mais essas habilidades.</p>
        </div>
        <div class="card cor2">
            <div><img src="../img/logo/logo.jpg" alt></div>
            <h2>Monstros</h2>
            <p class="paragrafo">Os monstros representam um medo ou obstáculo, que o usuário terá que vencer, utilizando o nosso sistema gamificado. O qual, proporcionará uma maior interatividade.</p>
        </div>
        <div class="card cor3">
            <div><img src="../img/logo/logo.jpg" alt></div>
            <h2>Sobre Nós</h2>
            <p class="paragrafo">O Converse+ é composto por 7 integrantes, em que cada um desempenhou uma função específica. Tais como: Elaboração da monografia, modelagem do banco de dados, desenvolvimento do APP e a idealização do site.</p>
        </div>
        <div class="card cor4">
            <div><img src="../img/logo/logo.jpg" alt></div>
            <h2>Psicologo</h2>
            <p class="paragrafo">Aqui conheceremos a perspectiva de um profiossional da área de psicologia, em relação ao Converse+. O qual, teremos o seu comentário como base.</p>
            
        </div>
       <div class="card cor5">
            <div><img src="../img/logo/logo.jpg" alt></div>
            <h2>Aplicativo</h2>
            <p class="paragrafo">O Converse+, está disponível em dispositivos mobiles, em que para baixar basta ir até a sessão do aplicativo e clicar na imagem que representa o play store.</p>
        </div>
    </section>
   <!----------- Objetivos parte 02 - IMG E TEXTO ----------------> 
   <div class="header"><h3>Objetivos</h3><p>Abordaremos os nossos objetivos, acerca do Converse+. Para com os usuários.</p></div>
   <section class="objetivos" id="objetivos">
        <div class="ob1">
            <div class="conteudo">
                <h1>Idealização</h1><br>
                <p>Converse+, é um aplicativo voltado para desenvolver e aprimorar as habilidades sociais (positividade, comunicação, empatia, civilidade, enfrentamento e trabalho) e mostrar a importância das mesmas.</p>
                <br>
                <p>O Converse +, surgiu através do Trabalho de Conclusão de Curso (TCC) da ETEC de Itaquaquecetuba e teve como objetivo a criação de um aplicativo, cujas atividades são implementadas através de seções gamificadas, visando entreter o usuário e ao mesmo tempo que o auxilia em seu processo de evolução.</p>
            </div>
            <div class="img">
                <img src="https://i.ytimg.com/vi/t3NCJBi9qSU/maxresdefault.jpg" alt="">
            </div>
            </div>
        <div class="ob1">   
            <div class="img">
                <img src="../img/objetivo/gamificacao.png" alt="">
            </div>
            <div class="conteudo">
                <h1>Proposta Gamificada</h1><br>
                <p>Para que o usuário, possa ter uma interatividade maior com as atividades propostas, em cada sessão. Será utilizado um sistema de gamificação.</p>
                <br><p>No início de cada atividade interativa será apresentado ao usuário do aplicativo um resumo contendo as instruções para combater um medo que é representado por um monstro, baseadas nos padrões de comportamentos mais adequados em determinadas situações. Durante as tarefas, cada escolha/ação irá impactar o progresso do usuário na atividade proposta, e ao final de cada rodada, após cumprida a "missão" o usuário receberá uma medalha.</p>
            </div>
        </div> 
    </section><br><br>
    <!-------------- Monstros ---------------->
    <div class="header h" id="monstros"><h3>Monstros</h3><p>O monstro representa um medo ou obstáculo, que o usuário terá que vencer.</p></div>
    <section class="monstros">
        <div class="card_m">
            <div class="icon">
                <img src="../img/mascotes/monstro_01.png">
            </div>
            <div class="content">
                <h2>Monstro 01 - Nome</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, sed dignissimos! Voluptates illo cum at ut quisquam? Sunt maiores, accusantium eligendi similique cum non, quam numquam dolores temporibus adipisci veritatis?</p>
            </div>
        </div>
        <div class="card_m">
            <div class="icon">
                <img src="../img/mascotes/monstro_01.png">
            </div>
            <div class="content">
                <h2>Monstro 02 - Nome</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, sed dignissimos! Voluptates illo cum at ut quisquam? Sunt maiores, accusantium eligendi similique cum non, quam numquam dolores temporibus adipisci veritatis?</p>
            </div>
        </div>
        <div class="card_m">
            <div class="icon">
                <img src="../img/mascotes/monstro_01.png">
            </div>
            <div class="content">
                <h2>Monstro 03 - Nome</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, sed dignissimos! Voluptates illo cum at ut quisquam? Sunt maiores, accusantium eligendi similique cum non, quam numquam dolores temporibus adipisci veritatis?</p>
            </div>
        </div>
    </section> 

    <!-- INTEGRANTES -->
    <div class="header h" id="integrantes"><h3>integrantes</h3><p>Nessa sessão, podemos conhecer um pouco sobre os idealizadores do Converse+.</p></div>
    <section class="section-integrantes">
        <ul class="slide">
            <li>
                <div class="container_image">
                    <img src="../img/integrantes/carol.jpeg" alt="">
                </div>
                <h3>Carolina Beserra</h3>
                <p>Ficou responsável pela monografia do projeto, abrangindo todos os capítulos do documento.</p>
            </li>
            <li class="active">
                <div class="container_image">
                    <img src="../img/integrantes/gui.jpg" alt="">
                </div>
                <h3>Guilherme Leme</h3>
                <p>Ficou responsável pela idealização e desenvolvimento do site do Converse+.</p>
            </li>
            <li>
                <div class="container_image">
                    <img src="../img/integrantes/marco.jpg" alt="">
                </div>
                <h3>Marco Antonio</h3>
                <p>Ficou responsável pela idealização e desenvolvimento do aplicativo mobile do Converse+.</p>
            </li>
            <li>
                <div class="container_image">
                    <img src="../img/integrantes/juliano.jpeg" alt="">
                </div>
                <h3>Juliano Bittencourt</h3>
                <p>Ficou responsável pela idealização e desenvolvimento do site do Converse+.</p>
            </li>
            <li>
                <div class="container_image">
                    <img src="../img/integrantes/nilmar.jpeg" alt="">
                </div>
                <h3>Nilmar Huarachi</h3>
                <p>Ficou responsável pela modelagem e desenvolvimento do banco de dados.</p>
            </li>
            <li>
                <div class="container_image">
                    <img src="../img/integrantes/renan.jpeg" alt="">
                </div>
                <h3>Renan Pereira</h3>
                <p>Ficou responsável pela idealização e desenvolvimento do aplicativo mobile do Converse+.</p>
            </li>
            <li>
                <div class="container_image">
                    <img src="../img/integrantes/livia.jpeg" alt="">
                </div>
                <h3>Livia Oliveira</h3>
                <p>Ficou responsável pela idealização e desenvolvimento do site do Converse+.</p>
            </li>
        </ul>
        <div class="control-buttons"> 
        <button class="left-button">
            <img src="../img/integrantes/arrow-left.svg">
        </button>
        <button class="right-button">
            <img src="../img/integrantes/arrow-right.svg">
        </button>
        </div>
    </section>

    <!-- PSICOLOGO -->
    <div class="header h" id="psicologo"><h3>Psicologo</h3><p>Conheça a resposta do psicologo, em relação a sua perspectiva sobre o projeto Converse+.</p></div>
    <section class="psicologo">
        <div class="container">
            
        </div>
    </section>

    <!-- Aplicativo -->
    <div class="header h" id="aplicativo"><h3>Aplicativo</h3><p>Conheça a resposta do psicologo, em relação a sua perspectiva sobre o projeto Converse+.</p></div>
    <section class="aplicativo">
        <div class="container">
            <h3>BAIXE O APLICATIVO!</h3>
            <p>Para baixar o nosso aplicativo mobile, basta clicar na <br> imagem abaixo!</p>
            <img src="../img/aplicativo/aplicativo.png" alt="Aplicativo mobile">
        </div>
    </section>
    
    
    <!-- Footer -->
    <footer>
        <p>converse@gmail.com</p>
        <p>© Todos os direitos reservados ao converse+</p>
        <p>ETEC DE Itaquaquecetuba -  1146422609</p>
    </footer>
    
    <!-- Icone do converse+ (Chatbot) -->
    <section class="chat">
        <a href="https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=us-south&integrationID=f18893f1-142a-4bae-bd4a-9940f4613788&serviceInstanceID=b1e6f523-65ff-4c85-921f-1860f9f8b941"><img src="../img/logo/logo.jpg" alt="link para o chatbot"></a>
    </section>
    <!-- JS -->
    <script src="../js/slide.js"></script>
    <script src="../js/menu.js"></script>
</body>
</html>